
<!DOCTYPE html>
html(lang='en')
head
  meta(charset='UTF-8')
  title Long's/CVS Sunday Sale!!!
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
  link(rel='stylesheet' href='/css/styles.css')
body
  .container.center-align.white-text
    header.section
      h1 long's sunday sale

    content#main.section
      ul.collection
        each brochure in brochures
          li
            a.black-text(target='_blank' href=`${brochure.url}` class='collection-item')= `${brochure.date_added} - ${brochure.url}`

    .section
      .row
        .col.s12.m4.offset-m2.l6.offset-l3
          form#newsletter-signup
            input#email.center-align(required name='email' type='email' placeholder='sign up for the newsletter')
            input.btn.white.black-text(type='submit' value='sign me up!')

    footer
      p 2016 created by rayfarias

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
  script(src='/js/client.js')