extends layout/main

block content
  section.section
    header.header
      h2.copy.copy--capitalize.emoji--envelope PAST

  section.section
    ul.list
      each brochure in brochures
        li.list__item
          a.link.copy.copy--bottom-border(href=`${brochure.url}`)= brochure.date_added

  include partials/go-home
