extends layout/main

block content
  section.section
    h2.copy.copy--capitalize.emoji--envelope Check your inbox

  section.section
    p.copy.copy--lowercase.copy--centered.copy--faint shortly, you will receive this week's set of brochures. You are signed-up to receive the weekly newsletter. yay!

  include partials/go-home
