extends layout/main

block content
  section.section
    h2.copy.copy--capitalize.emoji--envelope The Long's/CVS brochure is on it's way

  section.section
    p.copy.copy--lowercase.copy--centered.copy--faint and will be sent to you each week on sunday

  include partials/go-home