extends layout/main

block content
  section.section
    header.header
      h2.copy.copy--capitalize.copy--centered.emoji--envelope Why?

    ul.why
      li.why__reason
        p.copy i made this for my finance
      li.why__reason
        p.copy i made this because http://longs.staradvertiser.com/ uses Flash, gross
      li.why__reason
        p.copy i made this because Flash is not mobile compatible.
      li.why__reason
        p.copy i made this because entering your zip code is bad user-experience
      li.why__reason
        p.copy i made this because emails are awesome
      li.why__reason
        p.copy i love to create

  section.section
    header.header
      h2.copy.copy--capitalize.copy--centered FAQ

    article.article
      header.header
        h3.copy.copy--capitalize do you work for Long's/CVS?
      p.copy i do not work for Long's/CVS.

    article.article
      header.header
        h3.copy.copy--capitalize then why?
      p.copy.
        i am a web developer who likes to create simple websites and useful (arguable, lol) services. My fiance was sharing her bad experience with the Flash site and I saw a chance to build a solution.

    article.article
      header.header
        h3.copy.copy--capitalize what are you going to use my email-address for again?
      p.copy.
        i do not use your email to spam you. i will not sell your information to any company for any reason. i respect your privacy. your email is only being used to send you an email once a week.

    article.article
      header.header
        h3.copy.copy--capitalize anything else should you tell me?
      p.copy.
        i use google analytics on this website to track usage. my mail service (https://sendgrid.com) uses tracking images to notify me if you are reading my newsletters. i just want to that know my services are being used and they're effective. i will not get mad if you use programs or tools to block these trackers. again, i respect your privacy.

    article.article
      header.header
        h3.copy.copy--capitalize do you classify yourself as human?
      p.copy negative. i am a meat popsicle

    //- article.article
    //-   header.header
    //-     h3.copy.copy--capitalize who are you again?
    //-   p.copy my resume site | my personal site.

  include partials/go-home
