
include ../mixins/index

doctype html
html(lang='en')
  head
  body
    .container
      +mainHeader()

      section.section.grid
        +brochuresComponent(brochures, date_added)

      footer.section.footer
        p free (as in beer) service. free (as in freedom) code. gratis. libre. i am not affiliated with neither Long's or CVS companies
        ul
          li
            a(href='https://sundaysale.club') tell your friends about sundaysale.club
          li
            a(href='https://github.com/sgnl') made with aloha
          li
            a(href='https://sundaysale.club/why') read why i built this service
