body {
  background: #e52d27; /* fallback for old browsers */
  background: linear-gradient(to left, #e52d27 , #b31217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ddd;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.header {
  font-family: 'Roboto', sans-serif;
}

.section {}

.copy {
  color: #fff;

  &--uppercase {
    text-transform: uppercase;
  }

  &--underlined {
    border-bottom: 1px solid #fff;
  }

  &--link {
    text-decoration: none;
    text-transform: capitalize;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    text-align: center;
  }
}

.url {
  color: #fff;
  text-decoration: none;
}

.form {
  &__email {}
  &__submit {}
}

.footer {}