
%reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e52d27;
  background: linear-gradient(to left, #e52d27 , #b31217);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ddd;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 3em;
  font-family: 'Roboto', sans-serif;

  &--shorter-bottom {
    margin-bottom: 1em;
  }

  h1 {
    @extend %reset;
    font-size: 2em;
  }

  h2 {
    @extend %reset;
    font-size: 1.5em;
  }

  h3 {
    @extend %reset;
    font-size: 1.25em;
  }
}

.section {
  margin: 2em 0;
  max-width: 700px;

  &--border {
    padding: 2em;
    border: 1px solid #ddd;
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  &--centered {
    align-item: center;
    width: 100%;
  }

  &--columns {
    flex-flow: column nowrap;
  }
}

.article {
  padding: 1.5em 0;
}

.link {
  text-decoration: none;
}

.copy {
  @extend %reset;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  &--faint {
    color: hsla(0,0%,100%, 0.5);
  }

  &--fainter {
    color: hsla(0,0%,100%, 0.2);
  }

  &--small {
    font-size: 0.75em;
  }

  &--link {
    text-decoration: none;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--captialize {
    text-transform: capitalize;
  }

  &--centered {
    text-align: center
  }

  &--bottom-border {
    border-bottom: 1px solid #fff;
  }

  &--bottom-border-faint {
    border-bottom: 1px solid hsla(0,0%,100%,.4);
  }
}

.list {
  @extend %reset;
  list-style-type: none;

  &__item {
    @extend %reset;
    padding-top: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}

.form {
  @extend %reset;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  &__email {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    background-color: hsla(0,0%,100%, 0.8);
    border: none;
    font-size: inherit;
    text-align: center;
  }

  &__submit {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background: hsla(0,0%,100%,.4);
    border: none;
    font-size: inherit;
    color: inherit;
  }
}

.emoji {
  &--rainbow {
    &::before, &::after { content: ' 🌈 '; }
  }

  &--envelope {
    &::before, &::after { content: ' 💌 '; }
  }

  &--link {
    &::before, &::after { content: ' 🔗 '; }
  }
}

.why {
  list-style-type: none;

  &__reason {
    padding: 1.5em 0;
  }
}

.footer {
  cursor: help;
}
